.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media print {
  #review-modal-content {
    width: 100%;
    margin: 0;
    padding: 0.5in;
    font-size: 12px; /* Adjust font size for fit */
  }

  canvas {
    display: none; /* Hide canvas (it will be replaced with an image) */
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .text-sm {
    font-size: 10px; /* Reduce smaller text for better fit */
  }

  .text-lg, .font-bold {
    font-size: 14px;
  }
}